html,
body {
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

.nav {
    height: 55px;
    width: 100%;
    background-color: #fff;
    position: relative;
    border-bottom: 1px solid #f8f9fa;
    box-shadow: 0px 0px 17px 4px #e9ecef;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 7px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 15px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 17px 10px 13px 10px;
    text-decoration: none;
    color: #a9a9a9;
}

.nav>.nav-links>a:hover {
    color: #000000;
}

.nav>#nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        /* background-color: rgba(0, 0, 0, 0.3); */
    }
    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #6c757d;
    }
    .nav>.nav-links {
        position: absolute;
        display: block;
        z-index: 1;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }
    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }
    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

._con_back12 {
    background-color: #000000;
}

._tcd {
    color: #1c518a80;
}

p {
    color: darkgray;
}

._rm {
    margin-top: 10%;
}

._acdc {
    border: 1px solid #f8f9fa;
    padding: 5px;
    border-radius: 5px;
}

._woi {
    width: 80px;
}

._ttd {
    width: 40px;
    height: 25px;
    border-radius: 3px;
    background-color: #F3F8FF
}

._iso {
    width: 80px;
}

.block-ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 80px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 2;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

._cfcs {
    margin-top: 50px;
    background-color: #fdfdfd;
    padding: 50px 0px 50px 0px;
}

.form-control:focus {
    border-color: #000000;
    box-shadow: none;
}

.form-control {
    height: 55px;
    font-size: 0.8rem;
}

.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #fff;
    border-top: .05rem solid #f8f9fa;
}

._block-services {
    border: 1px solid #f6f7f9;
    border-radius: 5px;
    height: 180px;
    transition: 0.5s;
    cursor: pointer;
    padding: 50px 0px 50px 0px;
    text-align: center;
}

._block-services:hover {
    background-color: #f3f8ff;
    transition: 0.5s;
}

._ccu {
    margin-top: 50px;
    margin-bottom: 100px;
}

.breadcrumb {
    background-color: transparent;
}

.nav>.nav-links>a.active {
    color: #000000;
    font-weight: 600;
}

.error-msg {
    color: #dc3545;
    font-weight: bold;
    font-size: 12px;
}

.wbn-datepicker-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    display: none
}

.wbn-datepicker-modal.active {
    display: block
}

.wbn-datepicker-wrapper {
    position: relative
}

.wbn-datepicker-wrapper ::-moz-selection {
    background-color: #008bce
}

.wbn-datepicker-wrapper ::selection {
    background-color: #008bce
}

.wbn-datepicker-wrapper .wbn-datepicker-controls {
    border: 1px solid #ced4da;
    width: 100% !important;
    background-color: white;
    border-radius: .25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px
}

.wbn-datepicker-wrapper .wbn-datepicker-controls input[type="text"] {
    margin: 4px;
    border: none;
    padding: 0px;
    color: white;
    background-color: #e9e9e9;
    text-align: center;
    width: 35px;
    border-radius: 4px
}

.wbn-datepicker-wrapper .wbn-datepicker-controls input[type="text"]::-webkit-input-placeholder {
    color: #959595
}

.wbn-datepicker-wrapper .wbn-datepicker-controls input[type="text"]:-ms-input-placeholder {
    color: #959595
}

.wbn-datepicker-wrapper .wbn-datepicker-controls input[type="text"]::placeholder {
    color: #959595
}

.wbn-datepicker-wrapper .wbn-datepicker-controls input[type="text"]:focus {
    background: #bdbdbd;
    background: -webkit-linear-gradient(top, #bdbdbd 0%, #e0e0e0 100%);
    background: linear-gradient(to bottom, #bdbdbd 0%, #e0e0e0 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#bdbdbd', endColorstr='#e0e0e0', GradientType=0);
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
    outline: none
}

.wbn-datepicker-wrapper .wbn-datepicker-controls input[type="text"]:valid {
    background-color: #29abe2
}

.wbn-datepicker-wrapper .wbn-datepicker-controls input[type="text"]:valid:focus,
.wbn-datepicker-wrapper .wbn-datepicker-controls input[type="text"]:valid:active {
    background: #008bce;
    background: -webkit-linear-gradient(top, #008bce 0%, #29abe2 100%);
    background: linear-gradient(to bottom, #008bce 0%, #29abe2 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#008bce', endColorstr='#29abe2', GradientType=0);
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.25) !important
}

.wbn-datepicker-wrapper .wbn-datepicker-controls input[type="text"][readonly] {
    color: #29abe2;
    background-color: white
}

.wbn-datepicker-wrapper .wbn-datepicker-controls input[type="text"][readonly]:focus {
    background: white;
    box-shadow: none
}

.wbn-datepicker-wrapper .wbn-datepicker-controls input[type="text"][readonly]::-webkit-input-placeholder {
    color: #d2d2d2
}

.wbn-datepicker-wrapper .wbn-datepicker-controls input[type="text"][readonly]:-ms-input-placeholder {
    color: #d2d2d2
}

.wbn-datepicker-wrapper .wbn-datepicker-controls input[type="text"][readonly]::placeholder {
    color: #d2d2d2
}

.wbn-datepicker-wrapper .wbn-datepicker-controls input[type="text"].year {
    width: 55px
}

.wbn-datepicker-wrapper .wbn-datepicker-controls input[type="text"].month-label {
    width: 45px
}

.wbn-datepicker-wrapper.active {
    z-index: 1
}

.wbn-datepicker-wrapper.active .wbn-datepicker-controls {
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15)
}

.wbn-datepicker-wrapper.active .wbn-datepicker-controls input[type="text"] {
    box-shadow: 0px 1px 0px #bfc2c9
}

.wbn-datepicker-wrapper.active .wbn-datepicker-controls input[type="text"]:valid {
    box-shadow: 0px 1px 0px #008bce
}

.wbn-datepicker-wrapper.active .wbn-datepicker-controls input[type="text"][readonly] {
    box-shadow: none
}

.wbn-datepicker-wrapper.active .wbn-datepicker-controls+.wbn-datepicker-envelope {
    display: block
}

.wbn-datepicker-wrapper .wbn-datepicker-envelope {
    border: 1px solid lightgray;
    background-color: white;
    width: 280px;
    overflow: hidden;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 2;
    display: none
}

.wbn-datepicker-wrapper .wbn-datepicker-envelope .views-wrapper {
    width: 300%;
    white-space: nowrap;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.wbn-datepicker-wrapper .wbn-datepicker-envelope .views-wrapper.year {
    margin-left: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.wbn-datepicker-wrapper .wbn-datepicker-envelope .views-wrapper.month {
    margin-left: -100%;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.wbn-datepicker-wrapper .wbn-datepicker-envelope .views-wrapper.week {
    margin-left: -200%;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.wbn-datepicker-wrapper .wbn-datepicker-envelope .views-wrapper .datepicker-view {
    width: calc(33.33%);
    min-height: 1px;
    float: left
}

.wbn-datepicker-wrapper .wbn-datepicker-envelope ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none
}

.wbn-datepicker-wrapper .wbn-datepicker-envelope ul li {
    color: lightgray
}

.wbn-datepicker-wrapper .wbn-datepicker-envelope ul li.selectable {
    color: black;
    cursor: pointer
}

.wbn-datepicker-wrapper .wbn-datepicker-envelope ul li.selectable:hover {
    background-color: #DBEDF4
}

.wbn-datepicker-wrapper .wbn-datepicker-envelope ul li.selectable:active,
.wbn-datepicker-wrapper .wbn-datepicker-envelope ul li.selectable.active {
    background-color: #B3DDED
}

.wbn-datepicker-wrapper .wbn-datepicker-envelope ul.year {
    max-height: 205px;
    overflow-y: auto
}

.wbn-datepicker-wrapper .wbn-datepicker-envelope ul.year li {
    margin: 5px auto 0;
    padding: 15px;
    max-width: 200px
}

.wbn-datepicker-wrapper .wbn-datepicker-envelope ul.year li:last-child {
    margin: 5px auto
}

.wbn-datepicker-wrapper .wbn-datepicker-envelope ul.month {
    padding: 4px
}

.wbn-datepicker-wrapper .wbn-datepicker-envelope ul.month li {
    margin: 0 2px 2px 0;
    padding: 12px;
    width: calc(calc(100% - 4px) / 3);
    float: left
}

.wbn-datepicker-wrapper .wbn-datepicker-envelope ul.month li:nth-child(3n+3) {
    margin-right: 0
}

.wbn-datepicker-wrapper .wbn-datepicker-envelope ul.month li:nth-child(3n+4) {
    clear: both
}

.wbn-datepicker-wrapper .wbn-datepicker-envelope ul.month li:nth-child(n+10) {
    margin-bottom: 0
}

.wbn-datepicker-wrapper .wbn-datepicker-envelope ul.month:after {
    content: '';
    clear: both;
    display: block
}

.wbn-datepicker-wrapper .wbn-datepicker-envelope ul.week.labels li {
    padding: 5px
}

.wbn-datepicker-wrapper .wbn-datepicker-envelope ul.week li {
    padding: 5px 10px;
    width: 40px;
    text-align: center;
    display: inline-block
}

pre.prettyprint {
    border-color: lightgray !important;
    padding: 10px !important;
    background-color: whitesmoke;
    border-radius: .25rem
}

._cpb {
    padding: 5px;
    border: 1px solid #f8f9fa;
    transition: 0.5s;
    border-radius: 5px;
}

._cpb:hover {
    /* border: 1px solid #e9ecef; */
    transition: 0.5s;
    box-shadow: 0px 0px 17px 4px #2125290d;
}